body{
    background-image:url(backgroundimg.jpg)  ;
    background-size: 100%;
}  
.myphoto{
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:40%;
  
}
.github{
  border-spacing:15px;
  border-collapse:separate;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  background-color:grey;
  
 
}
.tweet{
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  background-color:lightskyblue;
  background-size:5opx;
}
.linkedin{
  color:black;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  
 
}
.mail{
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  background-color:white;
  border-top:20px;
  background-size:50%;
}
.instagram{
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  background-color:palevioletred;
  border-width:10%;
  background-size:500px;
}

h1{
  
  color:white;
}
.projects{
  padding-top:20px;
  padding-bottom:20px;
  border-radius:40px;
  background-color:black;
  border-width:10%;
  background-size:500px;
}
.quote1{
  border-radius:50px;
}


