body{
    /*background-image:url(backgroundimg.jpg)  ;*/
    background-color: black;
    background-size: 100%;
}  
.myphoto{
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:40%;
  border-color: aqua;
}

.button {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
}
button:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan, 
  0 0 100px cyan, 0 0 200px cyan;
}
.quote1{
  border-radius:50px;
}


